<h2><%= @card.question %></h2>

<% if @guess.answer %>
  <% if @guess.correct %>
    <p>You got it right!</p>
  <% else %>
    <p>Wrong! The correct answer was: <%= @card.answer %></p>
  <% end %>
<% else %>
  <%= form_for [@card, @guess] do |f| %>
    <%= label_tag(:answer, 'Answer: ') %>
    <%= f.text_field :answer %>
    <%= submit_tag('guess') %>
  <% end %>
<% end %>
